header {
	text-align: center;
	border: dotted 1px;
	border-color: lightgrey;
}
.container {
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: flex-start;
	flex-direction: row;
}
.cardbox {
	border: solid 1px;
	margin: 1.5%;
	border-color: lightblue;
	max-width: 30%;
    height: auto;	
}
.available {
	background-color: grey;
	color: yellow;
}
.Paragraph1 {
	text-align: justify;
	margin: 10px;
}
img {
	width: 100%;
	height: auto;
}
.bold {
	font-weight: bold;
	margin: 10px;
}
.sec2 {
	margin: 10px;
} 
footer {
	font-size: 75%;
}